# на ВМ-2: 192.168.100.115 и vm2
IGNITE_LOCAL_HOST=192.168.100.111
NODE_PREFIX=vm1

VM1_IP=192.168.100.111
VM2_IP=192.168.100.115
NODE_TARGET=ignite-node
INDEX_TYPE=JVECTOR_INDEX
BENCHMARK_MODE=OUR_DATASET
DATA_DIR=/srv/vindex-data/260k
NODE_JVM_OPTS=-Xms1200m -Xmx1750m --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/jdk.internal.misc=ALL-UNNAMED