DATA_DIR=./data
NODE_TARGET=ignite-node          # ignite-node-21 - включить SIMD
NODE_JVM_OPTS=-Xms3g -Xmx3g -XX:StartFlightRecording=filename=/jfr/node.jfr,dumponexit=true,disk=true,settings=profile,maxsize=500m -Xlog:gc*:file=/jfr/gc.log:time,uptime,level,tags
BOT_TOKEN=
GATEWAY_URL=